.arten_iframe {
  border: 0;
}

.arten_iframe.popup_video {
  width: calc(100vw - 37%);
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .arten_iframe.popup_video {
    width: calc(100vw - 10%);
  }
}
