.lho_input_container {
  height: 46px;
  border-radius: 3px;
  background-color: #ececec;
  padding: 0px 15px;
}

.lho_input_container.bordered {
  border: 1px solid;
}

.lho_input {
  border: none;
  outline: 0px;
  width: 100%;
  height: 47px;
  background-color: transparent;
  padding: 0;
}

::placeholder {
  color: #7c7c7c;
}

.lho_input:focus {
  outline: 0px;
}

.lho_input_prefix {
  margin-top: -1px;
}

.lho_error_1 {
  background-color: #fef3f3 !important;
  border-color: #eadada !important;
}
