button {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.lho_button {
  border: none;
  outline: 0px;
  height: 40px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px 15px;
  width: 100%;
}

.lho_button:focus {
  outline: 0px;
}

.lho_button.bordered {
  border: 0.5px solid;
}

.lho_button.solid {
  box-shadow: 0px 1px 2px #00000017;
}

.lho_button.solid:hover {
  box-shadow: 0px 1px 2px #0000000a;
}
