.lho_center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 300ms;
  /* width: fit-content; */
}

[dir='ltr'] .lho_center_start,
[dir='rtl'] .lho_center_end {
  right: auto;
}

[dir='ltr'] .lho_center_end,
[dir='rtl'] .lho_center_start {
  left: auto;
}
